/*Global*/
.hide {
  display: none;
}

/*IMAGES*/

.img-1 {
  background-image: url(https://i.ibb.co/gFkMjqp/pizza-1.jpg);
}

.img-2 {
  background-image: url(https://i.ibb.co/jDGFQPg/pizza-2.jpg);
}

  

.container {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Intro*/

.img-1,
.img-2 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.home-wrapper {
  margin: auto;
  padding: ($base-size * 6) ($base-size * 4);
  border-radius: $radius;
  background: #fff;
}

.home {
  text-align: center;
}

.hide {
  display: none;
}

/*NAVIGATION*/

.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 0px 40px 0px;

  a {
    text-decoration: none;
  }
}

.nav-order {
  flex: 1;
  margin: 2px;
}

.nav-booking {
  flex: 1;
  margin: 2px;
}

.nav-hours {
  flex: 100%;
  margin: 2px;
}

.nav-back {
  background-color: $color-main;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: $color-light;
}

.nav-background {
  padding: 10px;
  height: 120px;
  border-radius: 5px;
  text-align: center;
  color: $color-light;
  overflow: hidden;

  .nav-hover {
    transition: $transition;

    a:hover {
      transform: translateY(5%);
    }

    a {
      transform: translateY(38%);
      display: block;
      transition-duration: .5s;
      transition-timing-function: ease-in;
    }
  }

  h1 {
    font-family: $font-header;
    padding: 0;
    font-size: 28px;
    font-weight: $font-bold;
    color: $color-light;
    margin: 0;
    padding-bottom: 20px;
  }

  p {
    color: white;
    transform: translateY(-15px);
  }
}

/*Carousel*/

.carousel {
  width: 100%;
  padding: 20px 0;
  position: relative;
}

.glide__slide {
  display: flex;
  flex-wrap: wrap;
  height: 250px;
  position: relative;
}

.display {
  display: flex;
  height: 102%;
  width: 100%;
  position: absolute;

  img {
    max-width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: $radius;
  }

  .qoute {
    margin-left: 40px;
  }
}

.glide__bullets {
  text-align: center;

  .glide__bullet {
    padding: 5px;
    border-radius: 50%;
    border-color: $color-dark;
    border: none;
    margin: 0 6px;
  }

  button {
    background-color: lightgray;
  }

  .glide__bullet--active {
    background-color: $color-dark;
  }
}

/*Gallery*/

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;

  .photo {
    flex: 0 0 33%;
    position: relative;
    height: 200px;
    max-width: 31%;
    margin-top: 10px;
    margin-right: 10px;
  }

 

  img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .photo::after {
    position: absolute;
    display: none;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $color-dark;
    opacity: 0.4;
    z-index: 1;
  }

  .photo:hover::after {
    display: block;
    color: $color-main;
    transition: all 1s linear;
  }

  .icon {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: 2;
    top: 50%;
    left: 50% i {
      color: $color-light;
      transition: $transition;
    }

    .fas {
      color: white;
      padding: 3px;
    }

    i:hover {
      color: $color-main;
    }
  }

  .photo:hover .icon {
    opacity: 1;
    z-index: 2;
  }
}

.footer {
  text-align: center; 
} 